{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Sentiment Analysis</h1>
      <hr>
      <form action="/" method="POST">

        {% if analysis %}
          {% if analysis < -(0.2) %}
            <p class="text-danger float-right">Text analyzed is negative</p>
          {% elif analysis <= (0.2) %}
            <p class="text-alert float-right">Text analyzed is neutral</p>
          {% else %}
            <p class="text-success float-right">Text analyzed is positive</p>
          {% endif %}
          <p>
            {{ text }}
          </p>
        {% endif %}

        <div class="form-group">
          <label>Text to Analyze</label>
          <input type="text" class="form-control" id="text" name="text" placeholder="Paste text you'd like to analyze here">
        </div>

        <button type="submit" class="btn btn-primary">Analyze Text</button>
      
        {% if feedback %}
          <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}